*{
    margin: 0%;
    padding: 0%;
    font-family: 'Overpass', sans-serif;
    font-family: 'Rubik', sans-serif;
}
.firstdiv{
background-image:url("../images/bg-header-desktop.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 300px;
width: 100%;
margin-bottom: 200px;
}
.text1 img{
    display: flex;
    margin: auto;
    padding-top: 100px;
}
.text h1 , .secdiv h1 , .fourthdiv h1 , .fifthdiv h1 , .lastdiv h1{
    text-align: center;
    color: hsl(207, 13%, 34%);
    font-weight: 600;
    padding-top: 50px;
}
.text p , .secdiv p , .fourthdiv p , .fifthdiv p , .lastdiv p{
    text-align: center;
    font-weight: 300;
    color:hsl(240, 2%, 79%);
    padding-top: 10px;
}
.buttons{
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
}
.buttons .btn1{
    color: white;
    border-radius: 60px;
    background-color: #26BBA4;
    padding: 10px 20px;
    border-color: transparent;
    box-shadow: 0px 5px 5px 2px rgba(60, 166, 166,0.3);
    margin-right: 10px;
}
.buttons .btn1:hover ,.buttons .btn2:hover {
    cursor: pointer;
    opacity: 0.8;
}
.buttons .btn2{
    color: white;
    border-radius: 60px;
    background-color: #2964D9;
    padding: 10px 20px;
    border-color: transparent;
    box-shadow: 0px 5px 5px 2px rgba(41, 100, 217,0.3);
}
.secdiv{
    padding-bottom: 80px;
}
.thirddiv{
    display: flex;
}
.thirddiv img{
    width: 100%;
    height: 400px;
    /* margin-left: -30px; */
}
.thirddiv .text3{
    margin-left: 60px;
    margin-top: 20px;
}
.text3 h3{
    color: hsl(207, 13%, 34%);
    font-weight: 600;
    padding-bottom: 6px;
}
.text3 p{
    color:hsl(240, 2%, 79%);
    padding-bottom: 30px;
}
.fourthdiv{
    padding-top: 60px;
}
.fourthdiv p {
    padding-bottom: 100px;
}
.fourthdiv img{
    display: block;
    margin: auto;
    height: 100%;
    width: 50%;
}
.fifthdiv p{
    padding-bottom: 60px;
}
.fifthdiv .icons img{
    display: block;
    margin: auto;   
}
.icons .textt1 h4{
    padding-top: 20px;
    color: hsl(207, 13%, 34%);
    text-align: center;
    font-weight: 600;
}
.logo{
    padding-bottom: 100px;
}
.logo img{
    display: flex;
    margin: auto;
}
.lastdiv{
    padding-bottom: 200px;
}
.footer{
    background-color: rgba(191, 191, 191, 0.2);
}
.footer img{
    width: 30%;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}
.footer a{
    color: hsl(207, 13%, 34%);
}
.footer a:hover{
    color: #26BBA4;
    text-decoration: none;
}
.footerlinks{
    padding-top: 30px;
}
.contacts{
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
}
.contacts i{
    margin-left: 15px;
}
.contacts i:hover{
    color: #26BBA4;
    cursor: pointer;
}
@media(max-width:600px){
    .firstdiv{
        background-image: url("../images/bg-header-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 100%;
    }
    .text h1 , .secdiv h1 , .fourthdiv h1 , .fifthdiv h1 , .lastdiv h1{
        font-size: 30px;
    }
    .buttons .btn1 , .buttons .btn2{
        padding: 10px 50px;
        margin-bottom: 20px;
    }
    .secdiv h1{
        padding-top: 200px;
    }
    .thirddiv .text3{
        padding-top: 40px;
        margin: 0px;
        text-align: center;
    }
    .thirddiv img{
        width: 100%;
    }
    .fourthdiv img{
        width: 100%;
    }
    .logo img{
        padding-bottom: 60px;
    }
    .footerlinks{
        text-align: center;
    }
    .footerlinks img{
        width: 20%;
    }
}